<div class="navbar">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Investment App Dashboard </a>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>
<div class="formStyle">
    <div class="container">
        <form [formGroup]="fundActionForm" (ngSubmit)="onSubmit(fundActionForm)">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="investorName">InvestorName</label>
                    <input type="text" formControlName="investorName" class="form-control" placeholder="Enter the Investor Name">
                </div>
            </div>
             <div class="col-sm-12">
                <div class="form-group">
                    <label for="fundName">FundName</label>
                    <input type="text" formControlName="fundName" class="form-control" placeholder="Enter the Fund Name">
                </div>
            </div> 
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" formControlName="description" class="form-control"
                        placeholder="Enter the Fund  Description">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="investedAmount">Invested Amount</label>
                    <input type="number" formControlName="investedAmount" class="form-control"
                        placeholder="Enter the Invested Amount">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="currentValueOfInvestedAmount">Current Value Of Invested Amount</label>
                    <input type="number" formControlName="currentValueOfInvestedAmount" class="form-control"
                        placeholder="Enter the Current Value Of Invested Amount">
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-success btn-lg" style="width: 200px;" name="Submit" />
            </div>
        </form>
    </div>
</div>